
<app-header [page]="'Edit Prescription'" [type]="'modal'"></app-header>
<ion-content>

<ion-grid>
  <ion-row *ngIf="currentUser">
    <ion-col size="12" size-md="8" offset-md="2">
      <ion-card class="card">
        <ion-item lines="none" class="profile-holder">
          <ion-avatar class="img">
            <img *ngIf="!currentUser || currentUser.imageUrl == ''" src="../../../assets/imgs/patient.svg">
            <img *ngIf="currentUser && currentUser.imageUrl != ''" [src]="currentUser.imageUrl">
          </ion-avatar>
          <div class="header">
          <ion-text class="name">
            {{currentUser.firstname}} {{currentUser.lastname}}
          </ion-text>
            <ion-text class="date">
              {{prescription.createdAt | date:'short'}}
          </ion-text>
        </div>
        </ion-item>
        <ion-item class="description" lines="none">
          <ion-text class="text" placeHolder="Med1,Med2,Med2.....">
            {{prescription.description}}
          </ion-text>
        </ion-item>
        <ion-slides class="center-row"  [options]='slideOpts'  #slides pager>
          <ion-slide class="slide intro-slide" *ngFor="let image of images;let i = index">
            <ion-item line="none" class="prescription-holder">
              <div class="image-upload">
                <label for="file-input + {{i}}">
                  <img *ngIf="prescription.imageUrl[i] && !image" [src]="prescription.imageUrl[i]"/>
                  <img *ngIf="!prescription.imageUrl[i] && !image.url" src="../../../assets/imgs/photo.png">
                  <img *ngIf="prescription.imageUrl[i] && image.url" [src]="image.url"/>
                  <img *ngIf="!prescription.imageUrl[i] && image.url" [src]="image.url"/>
                </label>
                <input id="file-input + {{i}}" type="file" (change)="selectedImage($event,i)" *ngIf="prescription.status != 'approved'" accept=".png, .jpeg"/>
              </div>          
            </ion-item> 
          </ion-slide>
        </ion-slides>
        <ion-item line="none" class="comment-holder">
          <div class="comment-holder">
            <h1>{{translateService.translate("COMMENTS")}}</h1>
          </div>
        </ion-item>
        <ion-item lines="none" class="comment-holder" *ngFor="let comment of prescription.comments;let i = index" (click)="selectedComment(i)" [class.selected]='commentSelected == i' [class.highlited]='comment.status == "approved"'>
          <div class="comment-holder" >
            <ion-avatar class="img">
              <img *ngIf="!comment || comment.pharmacy.imageUrl == '' " src="../../../assets/imgs/pharmacy-user-img.png">
              <img *ngIf="comment && comment.pharmacy.imageUrl != ''" [src]="comment.pharmacy.imageUrl">
            </ion-avatar>
            <ion-text class="text"  class="add-comment">
              ₹{{calculateCommentPrice(comment)}}
            </ion-text>
          </div>
        </ion-item>
      </ion-card>
      
    </ion-col>
  </ion-row>
</ion-grid>

<div class="spin" *ngIf="!currentUser">
  <ion-spinner name="bubbles"></ion-spinner>
</div>

<ion-fab horizontal="end" vertical="bottom" slot="fixed" *ngIf="currentUser && prescription.description != ''">
  <ion-fab-button (click)="editPresciption()" >
    <ion-icon name="checkmark-circle-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
<ion-fab horizontal="end" vertical="bottom" slot="fixed" *ngIf="commentSelected != null && prescription.status != 'approved'">
  <ion-fab-button (click)="addOrder()" >
    <ion-icon name="cart-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
</ion-content>
