<app-header  [page]="'Add Order'" [type]="'modal'"></app-header>

<ion-content>
  <ion-slides class="center-row"  [options]='slideOpts'  #slides class="swiper-no-swiping slides"  >
    <ion-slide class="slide intro-slide" >
       <ion-label class="intro">{{translateService.translate("C_METHOD")}}</ion-label>
       <ion-item (click)="selectMethod('card')">
        <ion-thumbnail slot="start">
          <img src="../../../../../assets/imgs/visa.png" />
        </ion-thumbnail>
        <ion-label>{{translateService.translate("PAY_CARD")}}</ion-label>
        <ion-icon mode="ios" name="arrow-forward-outline" slot="end"></ion-icon>
      </ion-item>
    
    
      <ion-item (click)="selectMethod('cod')">
        <ion-thumbnail slot="start">
          <img src="../../../../../assets/imgs/cod.png" />
        </ion-thumbnail>
        <ion-label>{{translateService.translate("COD")}}</ion-label>
        <ion-icon mode="ios" name="arrow-forward-outline" slot="end"></ion-icon>
      </ion-item>
    </ion-slide>
    <ion-slide class="slide">
        <ion-item lines="none" class="ion-input">
          <ion-icon name="link-outline"></ion-icon>          
          <ion-input [placeholder]="translateService.translate('REFERAL_CODE')" [(ngModel)]="referalCode"></ion-input>
        </ion-item>
        
        <ion-button class="buttons" [hidden]="referalCode == ''" (click)="checkReferal()" shape="round" size="default" expand="full">
          <ion-label *ngIf="!submitted">{{translateService.translate("CHECK_REFERAL")}}</ion-label>
          <ion-spinner name="bubbles" *ngIf="submitted"></ion-spinner>
        </ion-button>
     </ion-slide>

     <ion-slide class="slide">
      <ion-item lines="none" class="ion-input">
        <ion-label class="intro">{{translateService.translate("CREATE_ORDER")}}</ion-label>
      </ion-item>
      <ion-button class="buttons" *ngIf="order.method == 'cod'"  (click)="createOrder()" shape="round" size="default" expand="full">
        <ion-label *ngIf="!submitted">{{translateService.translate("CREATE")}}</ion-label>
        <ion-spinner name="bubbles" *ngIf="submitted"></ion-spinner>
      </ion-button>
      <ion-button class="buttons" *ngIf="order.method == 'card'"  (click)="payByCard()" shape="round" size="default" expand="full">
        <ion-label *ngIf="!submitted">{{translateService.translate("PAY_CREATE")}}</ion-label>
        <ion-spinner name="bubbles" *ngIf="submitted"></ion-spinner>
      </ion-button>
   </ion-slide>
  
  </ion-slides>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed" *ngIf="currentUser && currentSlide == 1 && referalCode == '' ">
    <ion-fab-button (click)="nextSlide()" >
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
