<ion-header class="ion-no-border">
  <ion-toolbar class="toolbar0" >
    <ion-buttons slot="start" class="button-header" *ngIf="type == 'page'">
      <ion-back-button defaultHref="/" (click)="back()"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="start" *ngIf="type == 'modal'" >
      <ion-button fill="clear" (click)="close()" >
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="title">
      <ion-text class="title1">
        Patient
      </ion-text>
      <ion-chip class="chip" *ngIf="currentUser != null">
        <ion-avatar class="img" (click)="goToCart()">
          <img src="../../../assets/imgs/shopping-cart.svg">
        </ion-avatar>
        <ion-avatar class="img" (click)="logOut()">
          <img src='../../../assets/imgs/log-out.svg' class='img'>
        </ion-avatar>
      </ion-chip>
    </ion-title>
  </ion-toolbar>
  <ion-toolbar class="toolbar">
  </ion-toolbar>
  <ion-searchbar class="search_bar-xyz" cancelButtonText="Custom Cancel" showCancelButton="focus" animated
    autocorrect="off" inputmode="search" (click)="goToFindProduct()" placeholder="Search"
    #searchbar>

  </ion-searchbar>
</ion-header>
