<ion-header class="ion-no-border">
  <ion-toolbar class="toolbar0" >
    <ion-buttons slot="start" class="button-header" *ngIf="type == 'page'">
      <ion-back-button defaultHref="/" (click)="back()"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="start" *ngIf="type == 'modal'" >
      <ion-button fill="clear" (click)="close()" >
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="title">
      <ion-text class="title1">
        {{translateService.translate('APP_TITLE')}}
      </ion-text>
      <ion-chip class="chip" *ngIf="currentUser != null">
        <ion-avatar class="img" (click)="goToCart()">
          <img src="../../../assets/imgs/shopping-cart.svg">
        </ion-avatar>
        <ion-avatar class="img" (click)="logOut()">
          <img src='../../../assets/imgs/log-out.svg' class='img'>
        </ion-avatar>
      </ion-chip>
    </ion-title>
  </ion-toolbar>
  <ion-toolbar class="toolbar">
  </ion-toolbar>
  <div class="search_bar-xyz" (click)="goToFindProduct()" *ngIf="type == 'page'">
  <ion-icon name="search-outline" class="icon" *ngIf="page != 'Login' && page != 'Register'"></ion-icon>
  {{page == 'Login' || page == 'Register' ?  translateService.translate(page)  : translateService.translate("PAGE_SEARCH")}}
</div>
<div class="search_bar-xyz" (click)="goToFindProduct()" *ngIf="type == 'modal'">
  {{page}}
</div>
</ion-header>
