
<app-header  [type]="'modal'"></app-header>
<ion-content>

<ion-grid>
  <ion-row *ngIf="currentUser">
    <ion-col size="12" size-md="8" offset-md="2">
      <ion-card class="card">
        <ion-item lines="none" class="profile-holder">
          <ion-avatar class="img">
            <img *ngIf="!currentUser || currentUser.imageUrl == ''" src="../../../assets/imgs/patient.svg">
            <img *ngIf="currentUser && currentUser.imageUrl != ''" [src]="currentUser.imageUrl">
          </ion-avatar>
          <div class="header">
          <ion-text class="name">
            {{currentUser.firstname}} {{currentUser.lastname}}
          </ion-text>
          <ion-text class="date">
            
          </ion-text>
        </div>
        </ion-item>
        <ion-item class="description" lines="none">
          <ion-textarea class="text" placeHolder="Med1,Med2,Med2....." [(ngModel)]="prescription.description">

          </ion-textarea>
        </ion-item>
       

        <ion-slides class="center-row"  [options]='slideOpts'  #slides>
          <ion-slide class="slide intro-slide" *ngFor="let image of images;let i = index">
            <ion-item line="none" class="prescription-holder">
              <div class="image-upload">
                <label for="file-input + {{i}}">
                  <img *ngIf="!image || !image.url" src="../../../../assets/imgs/photo.png"/>
                  <img *ngIf="image && image.url" [src]="image.url"/>
                </label>
                <input id="file-input + {{i}}" type="file" (change)="selectedImage($event,i)"/>
              </div>          
            </ion-item> 
          </ion-slide>
        </ion-slides>

      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>

<div class="spin" *ngIf="!currentUser">
  <ion-spinner name="bubbles"></ion-spinner>
</div>

<ion-fab horizontal="end" vertical="bottom" slot="fixed" *ngIf="currentUser && prescription.description != ''">
  <ion-fab-button (click)="addPresciption()" >
    <ion-icon name="checkmark-circle-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
</ion-content>
