<app-header [type]="'modal'"></app-header>


<ion-content>
    <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="12" size-md="8" offset-md="2" class="center">
            <form novalidate [formGroup]="resetPasswordForm" class="form" (ngSubmit)="resetPassword()">
                <ion-item lines="none" class="ion-input">
                    <ion-icon name="lock-closed"></ion-icon>
                    <ion-input placeHolder="Password" formControlName="password"></ion-input>
                  </ion-item>
                  <ion-label class="label-error" *ngIf="formErrors && formErrors.password">*{{formErrors.password}}</ion-label>
              
                  <ion-item lines="none" class="ion-input">
                    <ion-icon name="lock-closed"></ion-icon>
                    <ion-input placeHolder="Connfirm Password" formControlName="confirmPassword"></ion-input>
                  </ion-item>
                  <ion-label class="label-error" *ngIf="formErrors && formErrors.confirmPassword">*{{formErrors.confirmPassword}}</ion-label>
              <ion-button class="buttons" [disabled]="resetPasswordForm.invalid || submitted " type="submit" shape="round" size="default" expand="full">
                <ion-label *ngIf="!submitted">Login</ion-label>
                <ion-spinner name="bubbles" *ngIf="submitted"></ion-spinner>
              </ion-button>
            </form>
          </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
