
.center-row {
    margin : 10% auto;
    display: block;
}
.buttons {
    display : block;
    margin: 15% auto;
}
.intro {
    text-align: center;
    font-size : 5vw;
    color : black;
    font-weight: bold;
    display: block;
}



.slides {
    width: 100%;
}

.slide {
    width: 100%;
    text-align: center;
    font-size: 15px;
    height: 100%;
    margin: 0 auto;
    display: inline-block;
}

.intro-slide {
    display: block;
}

