<ion-header class="ion-no-border">
  <ion-toolbar class="toolbar0">
    <ion-buttons slot="start" class="button-header">
      <ion-back-button defaultHref="/" (click)="back()"></ion-back-button>
    </ion-buttons>
    <ion-title class="title">
      <ion-text class="title1">
        Patient
      </ion-text>
      <ion-chip class="chip" *ngIf="currentUser != null">
        <ion-avatar class="img">
          <img *ngIf="!currentUser || currentUser.imageUrl == '' " src="../../../assets/imgs/patient.svg">
          <img *ngIf="currentUser && currentUser.imageUrl != ''" [src]="currentUser.imageUrl">
        </ion-avatar>
      </ion-chip>
    </ion-title>
  </ion-toolbar>
  <ion-toolbar class="toolbar">
  </ion-toolbar>
  <ion-searchbar class="search_bar-xyz" cancelButtonText="Custom Cancel" showCancelButton="focus" animated
    autocorrect="off" inputmode="search" (keyup.enter)="onInput(searchbar.value)" placeholder="Medecin1"
    #searchbar>

  </ion-searchbar>
</ion-header>

<ion-content>

  <ion-grid *ngIf="products && products.length != 0">
    <ion-row>
      <ion-title class="title-pharmacy">Medecins Found </ion-title>
      <ion-col size="12" >
      <div  class="product-holder" *ngFor="let product of products;let i = index" (click)="selectProduct(i)" [class.selected]='selectedProduct == i'>
        <ion-avatar class="product-img">
          <img *ngIf="!product.imageUrl || product.imageUrl == ''" src="../../../assets/imgs/capsules.svg">
          <img *ngIf="product.imageUrl && product.imageUrl != ''" [src]="product.imageUrl">
        </ion-avatar>
        <div class="holder">
        <ion-title class="product-title">
          {{product.name}}
        </ion-title>
        <ion-text class="product-detail">
          CN : {{product.company_name}} 
        </ion-text>
        <ion-text class="product-detail">
          Description : {{product.description}} 
        </ion-text>
        <ion-text class="product-detail">
          IGST : {{product.igst}} 
        </ion-text>
        <ion-text class="product-detail">
          CGST : {{product.cgst}} 
        </ion-text>
        <ion-text class="product-detail">
          SGST : {{product.sgst}} 
        </ion-text>
        <ion-text class="product-detail">
          PACKING : {{product.packing}} 
        </ion-text>
      </div>
    </div>
    </ion-col>
    </ion-row>

    
  </ion-grid>
  <ion-row class="bottom-row" *ngIf="!emptyCartProduct || selectedProduct != null"  >
    <ion-col size="8" >
      <ion-button shape="round" size="default" color="success"  expand="full" (click)="addToCart()" *ngIf="selectedProduct != null">
        <ion-icon name="cart-outline"></ion-icon>
        <ion-text>ADD TO CART</ion-text>
      </ion-button>
    </ion-col>
    <ion-col size="4" >
      <ion-button shape="round" size="default" color="light"  expand="full" *ngIf="!emptyCartProduct" (click)="goToCart()">
        <ion-text>VIEW CART</ion-text>
      </ion-button>
    </ion-col>
  </ion-row>

</ion-content>
