<app-header  [page]="'Medecin Detail'" [type]="'modal'"></app-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-title class="title-pharmacy">{{translateService.translate("PHARMACY_DETAILS")}}</ion-title>
        <ion-item class="profile-holder">
          <ion-avatar class="img">
            <img *ngIf="!searchProduct.pharmacy || searchProduct.pharmacy.imageUrl == ''" src="../../../assets/imgs/pharmacy.png">
            <img *ngIf="searchProduct.pharmacy && searchProduct.pharmacy.imageUrl != ''" [src]="searchProduct.pharmacy.imageUrl">
          </ion-avatar>
          <div class="header">
          <ion-text class="name">
            {{searchProduct.pharmacy.firstname}} {{searchProduct.pharmacy.lastname}}
          </ion-text>
        </div>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-title class="title-pharmacy">{{translateService.translate("MEDECINS")}}</ion-title>
      <ion-col size="12" >
      <div  class="product-holder" *ngFor="let product of searchProduct.pharmacy.products">
        <ion-avatar class="product-img">
          <img *ngIf="!product.product.imageUrl || product.product.imageUrl == ''" src="../../../assets/imgs/capsules.svg">
          <img *ngIf="product.product.imageUrl && product.product.imageUrl != ''" [src]="product.product.imageUrl">
        </ion-avatar>
        <div class="holder">
        <ion-title class="product-title">
          {{product.product.mainProduct.name}}
        </ion-title>
        <ion-text class="product-detail">
          {{translateService.translate("CN")}} : {{product.product.mainProduct.company_name}} 
        </ion-text>
        <ion-text class="product-detail">
          {{translateService.translate("DESCRIPTION")}} : {{product.product.mainProduct.description}} 
        </ion-text>
        <ion-text class="product-detail">
          {{translateService.translate("PACKING")}} : {{product.product.mainProduct.packing}} 
        </ion-text>
      </div>
      <div class="product-nav">
        <ion-text>{{translateService.translate("QUANTITY")}}</ion-text> : {{product.quantity}}
      </div>
    </div>
    </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-title class="title-pharmacy">{{translateService.translate("TOTAL_PRICE")}}</ion-title>
        <div  class="total-price-holder">
          <ion-icon class="ion-icon" name="cash-outline"></ion-icon> : {{searchProduct.totalPrice}}
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="bottom-row">
      <ion-col size="8" >
        <ion-button shape="round" size="default" color="success"  expand="full" (click)="addOrder()" >
          <ion-text>{{translateService.translate("ORDER_CREATE")}}</ion-text>
        </ion-button>
      </ion-col>
      <ion-col size="4" >
        <ion-button shape="round" size="default" color="light"  expand="full" (click)="goAddPrescription()" *ngIf="!isPres">
          <ion-icon name="document"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>

