<app-header  [type]="'modal'"></app-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-title class="title-patient">Pharmacy Details</ion-title>
        <ion-item class="profile-holder">
          <ion-avatar class="img">
            <img *ngIf="!order.pharmacy || order.pharmacy.imageUrl == ''" src="../../../../../assets/imgs/pharmacy-user-img.png">
            <img *ngIf="order.pharmacy && order.pharmacy.imageUrl != ''" [src]="order.pharmacy.imageUrl">
          </ion-avatar>
          <div class="header">
          <ion-text class="name">
            {{order.pharmacy.firstname}} {{order.pharmacy.lastname}}
          </ion-text>
        </div>
        </ion-item>
      </ion-col>

    </ion-row>
    <ion-row *ngIf="order.address">
      <ion-col size="12">
        <ion-title class="title-patient">Address</ion-title>
        <div  class="address">
          {{order.address.city}},
          {{order.address.streetName1}},
          {{order.address.streetName2}},
          {{order.address.buildingNumber}},
          {{order.address.postalCode}}
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item  class="profile-holder" >
          <ion-title class="title-patient">This Order is {{order.status | uppercase}}</ion-title>
        </ion-item>
      </ion-col>
      <ion-col size="12" *ngIf="order.method == 'card' && order.paymentStatus.txStatus">
        <ion-item  class="profile-holder" >
          <ion-title class="title-patient">Payment is {{order.paymentStatus.txStatus | uppercase}}</ion-title>
        </ion-item>
      </ion-col>
      <ion-col size="12" *ngIf="order.method == 'card' && !order.paymentStatus.txStatus">
        <ion-item  class="profile-holder" >
          <ion-title class="title-patient">Payment is {{order.paymentStatus.orderStatus | uppercase}}</ion-title>
        </ion-item>
      </ion-col>
      <ion-col size="12" *ngIf="order.refund" (click)='callRefundDetail()'>
        <ion-item  class="profile-holder" >
          <ion-title class="title-patient" >Check Refund</ion-title>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-title class="title-patient">Medecins</ion-title>
      <ion-col size="12" >
      <div  class="product-holder" *ngFor="let product of order.products">
        <ion-avatar class="product-img">
          <img *ngIf="!product.product.imageUrl || product.product.imageUrl == ''" src="../../../assets/imgs/capsules.svg">
          <img *ngIf="product.product.imageUrl && product.product.imageUrl != ''" [src]="product.product.imageUrl">
        </ion-avatar>
        <div class="holder">
        <ion-title class="product-title">
          {{product.product.mainProduct.name}}
        </ion-title>
        <ion-text class="product-detail">
          CN : {{product.product.mainProduct.company_name}} 
        </ion-text>
        <ion-text class="product-detail">
          Description : {{product.product.mainProduct.description}} 
        </ion-text>
        <ion-text class="product-detail">
          PACKING : {{product.product.mainProduct.packing}} 
        </ion-text>
      </div>
      <div class="product-nav">
        <ion-text>Quantity</ion-text> : {{product.quantity}}
      </div>
    </div>
    </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-title class="title-patient">Total Price</ion-title>
        <div  class="total-price-holder">
          <ion-icon class="ion-icon" name="cash-outline"></ion-icon> : {{order.totalPrice}}
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="bottom-row">
      <ion-col size="12" >
        <ion-button shape="round" size="default" color="success"  expand="full" *ngIf="(order.paymentStatus && order.method == 'card') && (((order.paymentStatus.txStatus && (order.paymentStatus.txStatus == 'PENDING' || order.paymentStatus.txStatus == 'FAILED')) || ((!order.paymentStatus.txStatus && order.paymentStatus.orderStatus == 'ACTIVE'))) && order.status == 'created')" (click)="getPaymentLink()" >
          <ion-text>CONFIRM YOUR PAYMENT NOW</ion-text>
        </ion-button>
      </ion-col>
      <ion-col size="12" >
        <ion-button shape="round" size="default" color="danger"  expand="full" *ngIf="order.paymentStatus && (((order.paymentStatus.txStatus && (order.paymentStatus.txStatus == 'PENDING' || order.paymentStatus.txStatus == 'FAILED')) || ((!order.paymentStatus.txStatus && order.paymentStatus.orderStatus == 'ACTIVE'))) && order.status == 'created')" (click)="checkStatus()" >
          <ion-text>CANCEL ORDER</ion-text>
        </ion-button>
      </ion-col>
      <ion-col size="12" >
        <ion-button shape="round" size="default" color="danger"  expand="full" *ngIf="order.method == 'cod'" (click)="checkStatus()" >
          <ion-text>CANCEL ORDER</ion-text>
        </ion-button>
      </ion-col>
      <ion-col size="12" >
        <ion-button shape="round" size="default" color="primary"  expand="full" *ngIf="isValidRefund" (click)="callRefund()" >
          <ion-text>Refund Medecins</ion-text>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>

