<app-header  [page]="'Order Detail'" [type]="'modal'"></app-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-title class="title-patient">{{translateService.translate("PHARMACY_DETAILS")}}</ion-title>
        <ion-item class="profile-holder">
          <ion-avatar class="img">
            <img *ngIf="!order.pharmacy || order.pharmacy.imageUrl == ''" src="../../../../../assets/imgs/pharmacy-user-img.png">
            <img *ngIf="order.pharmacy && order.pharmacy.imageUrl != ''" [src]="order.pharmacy.imageUrl">
          </ion-avatar>
          <div class="header">
          <ion-text class="name">
            {{order.pharmacy.firstname}} {{order.pharmacy.lastname}}
          </ion-text>
        </div>
        </ion-item>
      </ion-col>

    </ion-row>
    <ion-row *ngIf="order.address">
      <ion-col size="12">
        <ion-title class="title-patient">{{translateService.translate("ADDRESS")}}</ion-title>
        <div  class="address">
          {{order.address.city}},
          {{order.address.streetName1}},
          {{order.address.streetName2}},
          {{order.address.buildingNumber}},
          {{order.address.postalCode}}
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item  class="profile-holder" >
          <ion-title class="title-patient">{{translateService.translate("ORDER_IS")}} {{translateService.translate(order.status | uppercase) }}</ion-title>
        </ion-item>
      </ion-col>
      <ion-col size="12" *ngIf="order.method == 'card' && order.paymentStatus.txStatus">
        <ion-item  class="profile-holder" >
          <ion-title class="title-patient">{{translateService.translate("PAYMENT_IS")}} {{translateService.translate(order.paymentStatus.txStatus | uppercase) }}</ion-title>
        </ion-item>
      </ion-col>
      <ion-col size="12" *ngIf="order.method == 'card' && !order.paymentStatus.txStatus">
        <ion-item  class="profile-holder" >
          <ion-title class="title-patient">{{translateService.translate("PAYMENT_IS")}} {{translateService.translate(order.paymentStatus.orderStatus | uppercase)  }}</ion-title>
        </ion-item>
      </ion-col>
      <ion-col size="12" *ngIf="order.refund.refund" (click)='callRefundDetail()'>
        <ion-item  class="profile-holder" >
          <ion-title class="title-patient" >{{translateService.translate("CHECK_REFUND")}}</ion-title>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-title class="title-patient">{{translateService.translate("MEDECINS")}}</ion-title>
      <ion-col size="12" >
      <div  class="product-holder" *ngFor="let product of order.products">
        <ion-avatar class="product-img">
          <img *ngIf="!product.product.imageUrl || product.product.imageUrl == ''" src="../../../assets/imgs/capsules.svg">
          <img *ngIf="product.product.imageUrl && product.product.imageUrl != ''" [src]="product.product.imageUrl">
        </ion-avatar>
        <div class="holder">
        <ion-title class="product-title">
          {{product.product.mainProduct.name}}
        </ion-title>
        <ion-text class="product-detail">
          {{translateService.translate("CN")}} : {{product.product.mainProduct.company_name}} 
        </ion-text>
        <ion-text class="product-detail">
          {{translateService.translate("DESCRIPTION")}} : {{product.product.mainProduct.description}} 
        </ion-text>
        <ion-text class="product-detail">
          {{translateService.translate("PACKING")}} : {{product.product.mainProduct.packing}} 
        </ion-text>
      </div>
      <div class="product-nav">
        <ion-text>{{translateService.translate("QUANTITY")}}</ion-text> : {{product.quantity}}
      </div>
    </div>
    </ion-col>
    </ion-row>
    <ion-row *ngIf="order.refund && order.refund.refund && order.refund.payedByAdmin == 'PAID'">
      <ion-col size="12">
        <ion-title class="title-patient">{{translateService.translate("Commission ")}}: {{order.refund.commissionApplied}}%</ion-title>
        <div  class="total-price-holder1">
          <ion-icon class="ion-icon" name="cash-outline"></ion-icon> : ₹{{order.refund.refund.refundPrice -  (order.refund.refund.refundPrice*order.refund.commissionApplied)/100 }}
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-title class="title-patient">{{translateService.translate("TOTAL_PRICE")}}</ion-title>
        <div  class="total-price-holder">
          <ion-icon class="ion-icon" name="cash-outline"></ion-icon> : ₹{{order.totalPrice}}
        </div>
      </ion-col>
    </ion-row>
    

    <ion-row class="bottom-row">
      <ion-col size="12" >
        <ion-button shape="round" size="default" color="success"  expand="full" *ngIf="(order.paymentStatus && order.method == 'card') && (((order.paymentStatus.txStatus && (order.paymentStatus.txStatus == 'PENDING' || order.paymentStatus.txStatus == 'FAILED')) || ((!order.paymentStatus.txStatus && order.paymentStatus.orderStatus == 'ACTIVE'))) && order.status == 'created')" (click)="getPaymentLink()" >
          <ion-text>{{translateService.translate("CONFIRM_PAYMENT")}}</ion-text>
        </ion-button>
      </ion-col>
      <ion-col size="12" >
        <ion-button shape="round" size="default" color="danger"  expand="full" *ngIf="order.paymentStatus && (((order.paymentStatus.txStatus && (order.paymentStatus.txStatus == 'PENDING' || order.paymentStatus.txStatus == 'FAILED')) || ((!order.paymentStatus.txStatus && order.paymentStatus.orderStatus == 'ACTIVE'))) && order.status == 'created')" (click)="checkStatus()" >
          <ion-text>{{translateService.translate("C_ORDER")}}</ion-text>
        </ion-button>
      </ion-col>
      <ion-col size="12" >
        <ion-button shape="round" size="default" color="danger"  expand="full" *ngIf="order.paymentStatus && (((order.paymentStatus.txStatus && (order.paymentStatus.txStatus == 'SUCCESS')) || ((!order.paymentStatus.txStatus && order.paymentStatus.orderStatus == 'PAID'))) && order.status == 'accepted')" (click)="cancelOrder()" >
          <ion-text>{{translateService.translate("CCLAIM_REFUND")}}</ion-text>
        </ion-button>
      </ion-col>
      <ion-col size="12" >
        <ion-button shape="round" size="default" color="danger"  expand="full" *ngIf="order.method == 'cod' && order.status != 'delivered'" (click)="checkStatus()" >
          <ion-text>{{translateService.translate("C_ORDER")}}</ion-text>
        </ion-button>
      </ion-col>
      <ion-col size="12" >
        <ion-button shape="round" size="default" color="primary"  expand="full" *ngIf="isValidRefund && order.refund.payedByAdmin == 'NOT PAIED' && order.refund.refund == null" (click)="callRefund()" >
          <ion-text>{{translateService.translate("CLAIM_REFUND")}}</ion-text>
        </ion-button>
      </ion-col>
      <ion-col size="12" >
        <ion-button shape="round" size="default" color="primary"  expand="full" *ngIf="isValidRefund && order.refund.payedByAdmin == 'NOT PAIED' && order.refund.refund != null" (click)="callRefund()" >
          <ion-text>{{translateService.translate("UPDATE_REFUND")}}</ion-text>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>

