<ion-slides pager="true" [options]="slideOpts">

  <ion-slide  class="animate-item">
    <ion-card class="card" (click)="goTo('search-medecin')">
      <ion-text>
        Want to find your medecins FASTER !!
      </ion-text>
        <img src="../../../assets/imgs/medicament.png">
    </ion-card>
  </ion-slide>
  <ion-slide  class="animate-item">
    <ion-card class="card" id="card-pharmacy" >
      <ion-text>
        Post your PRESCRIPTION and get noticed
      </ion-text>
        <img src="../../../assets/imgs/ordonnance.png">
    </ion-card>
  </ion-slide>
  <ion-slide  class="animate-item">
    <ion-card class="card" id="card-categorie" >
      <ion-text>
        See the status of your orders ?
      </ion-text>
        <img src="../../../assets/imgs/presse-papiers.png">
    </ion-card>
  </ion-slide>
  <ion-slide  class="animate-item">
    <ion-card class="card" id="card-post">
      <ion-text>
        See Patietns Prescriptions
      </ion-text>
        <img src="../../../assets/imgs/medical-prescription.png">
    </ion-card>
  </ion-slide>

</ion-slides>