<ion-slides pager="true" [options]="slideOpts">

  <ion-slide  class="animate-item">
    <ion-card class="card" (click)="goTo('search-medecin')">
      <ion-text>
        {{translateService.translate('BANNER_PRODUCTS')}}
      </ion-text>
        <img src="../../../assets/imgs/medicament.png">
    </ion-card>
  </ion-slide>
  <ion-slide  class="animate-item">
    <ion-card class="card" id="card-pharmacy" (click)="goTo('prescription')" >
      <ion-text>
        {{translateService.translate('BANNER_PRESCRIPTION')}}
      </ion-text>
        <img src="../../../assets/imgs/ordonnance.png">
    </ion-card>
  </ion-slide>
  <ion-slide  class="animate-item">
    <ion-card class="card" id="card-categorie" (click)="goTo('/tabs/tab3')" >
      <ion-text>
        {{translateService.translate('BANNER_ORDERS')}}
      </ion-text>
        <img src="../../../assets/imgs/presse-papiers.png">
    </ion-card>
  </ion-slide>
  <ion-slide  class="animate-item">
    <ion-card class="card" id="card-post" (click)="goTo('/tabs/tab4/categories')">
      <ion-text>
        {{translateService.translate('BANNER_MEDECIN')}}
      </ion-text>
        <img src="../../../assets/imgs/capsules.png">
    </ion-card>
  </ion-slide>

  <ion-slide  class="animate-item">
    <ion-card class="card" id="card-pharmacy" (click)="goTo('/tabs/tab4/referal')">
      <ion-text>
        {{translateService.translate('BANNER_REFERAL')}}
      </ion-text>
        <img src="../../../assets/imgs/marketing.svg">
    </ion-card>
  </ion-slide>

</ion-slides>