<ion-slides pager="true" [options]="slideOpts">

  <ion-slide  class="animate-item">
    <ion-card class="card" (click)="goTo('search-medecin')">
      <ion-text>
        Find your Medicines faster !!
      </ion-text>
        <img src="../../../assets/imgs/medicament.png">
    </ion-card>
  </ion-slide>
  <ion-slide  class="animate-item">
    <ion-card class="card" id="card-pharmacy" (click)="goTo('prescription')" >
      <ion-text>
        {{objectTranslate.prescription}}
      </ion-text>
        <img src="../../../assets/imgs/ordonnance.png">
    </ion-card>
  </ion-slide>
  <ion-slide  class="animate-item">
    <ion-card class="card" id="card-categorie" (click)="goTo('/tabs/tab3')" >
      <ion-text>
        See the status of your orders ?
      </ion-text>
        <img src="../../../assets/imgs/presse-papiers.png">
    </ion-card>
  </ion-slide>
  <ion-slide  class="animate-item">
    <ion-card class="card" id="card-post" (click)="goTo('/tabs/tab4/categories')">
      <ion-text>
        Want to find products in faster way ?
      </ion-text>
        <img src="../../../assets/imgs/capsules.png">
    </ion-card>
  </ion-slide>

  <ion-slide  class="animate-item">
    <ion-card class="card" id="card-pharmacy" (click)="goTo('/tabs/tab4/referal')">
      <ion-text>
        Refer your friends and earn money 
      </ion-text>
        <img src="../../../assets/imgs/marketing.svg">
    </ion-card>
  </ion-slide>

</ion-slides>