<form id="redirectForm" #redirectForm method="post" action="https://test.cashfree.com/billpay/checkout/post/submit">
  <input type="hidden" name="appId" [value]="data.appId"/>
  <input type="hidden" name="orderId" [value]="data.orderId"/>
  <input type="hidden" name="orderAmount" [value]="data.orderAmount"/>
  <input type="hidden" name="orderCurrency" [value]="data.orderCurrency"/>
  <input type="hidden" name="orderNote" [value]="data.orderNote"/>
  <input type="hidden" name="customerName" [value]="data.customerName"/>
  <input type="hidden" name="customerEmail" [value]="data.customerEmail"/>
  <input type="hidden" name="customerPhone" [value]="data.customerPhone"/>
  <input type="hidden" name="returnUrl" [value]="data.returnUrl"/>
  <input type="hidden" name="signature" [value]="sign"/>
  <input type="submit" value="Pay">
</form>

<app-header  [type]="'page'"></app-header>


<ion-content>

  <ion-segment (ionChange)="segmentChanged($event)"  value="all"  class="segment-type"  slot="fixed"  class="segments">
    <ion-segment-button value="all">
      <ion-label>All</ion-label>
    </ion-segment-button>
    <ion-segment-button value="created">
      <ion-label>New</ion-label>
    </ion-segment-button>
    <ion-segment-button value="accepted">
      <ion-label>Accepted</ion-label>
    </ion-segment-button>
    <ion-segment-button value="canceled">
      <ion-label>Canceled</ion-label>
    </ion-segment-button>
    <ion-segment-button value="rejected">
      <ion-label>Rejected</ion-label>
    </ion-segment-button>
    <ion-segment-button value="delivered">
      <ion-label>Delivered</ion-label>
    </ion-segment-button>
    
  </ion-segment>
    <ion-list class="list-orders">
        <ion-item lines="none" class="item-order"  *ngFor="let order of totalOrders[currentSegmentType]" (click)="goToOrderDetail(order)" [ngClass]="'item-order-' + order.status ">
          <div class="main-container">
          <div class="container" style="width: 20%;">
            <img class="avatar-icon" *ngIf="order.method == 'cod'" src="../../../assets/imgs/cod.png"  width="50px" height="50px">
            <img class="avatar-icon" *ngIf="order.method == 'card'" src="../../../assets/imgs/visa.png"  width="50px" height="50px">
  
        </div>
          <div class="container">
            <div class="container" style="text-align: center; width: 100%;">
              <ion-label style="text-align: center; width: 100%;" class="inner-item" ><h1>{{order.patient.firstname}} {{order.patient.lastname}}</h1></ion-label>
  
            </div>
            <div class="inner-container">
  
              <ion-label class="inner-item"><ion-icon class="ion-icon" name="time-outline"></ion-icon> : {{order.createdAt | date:'short'}}</ion-label>
              <ion-label  class="inner-item" *ngIf="order.address != null"><ion-icon class="ion-icon" name="location-outline"></ion-icon> : Address : 
                {{order.address.city}},
                {{order.address.streetName1}},
                {{order.address.streetName2}},
                {{order.address.buildingNumber}},
                {{order.address.postalCode}}
              </ion-label>
  
              <ion-label class="inner-item"><ion-icon class="ion-icon" name="cash-outline"></ion-icon> : €{{order.totalPrice}}</ion-label>
            </div>
  
            <div class="inner-container" >
              <ion-label class="inner-item"><ion-icon class="ion-icon" name="document-outline"></ion-icon> : {{order._id}}</ion-label>
              <ion-label>&nbsp;</ion-label>
            </div>
  
            
  
          </div>
          <hr>
  
          <div class="main-container bottom">
            <div class="inner-container">
            <ion-label class="inner-item" style="font-weight: bold;"><ion-icon class="ion-icon" name="card-outline"></ion-icon> : {{order.method == "card" ? 'PAID' : 'NOT PAID'}}</ion-label>
            <ion-label *ngIf="order.status == 'canceled' || order.status=='rejected'" class="inner-item" style="font-weight: bold;color:red">Order Status : {{order.status == 'cancel' ? 'CANCELED' : 'REJECTED'}}</ion-label>
            <ion-label *ngIf="order.status == 'delivered'"  class="inner-item" style="font-weight: bold;color:green">Order Status : DELIVERED</ion-label>
            <ion-label *ngIf="order.status == 'created'" class="inner-item" style="font-weight: bold;">Order Status : NEW ORDER</ion-label>
          <ion-label *ngIf="order.status == 'accepted' || order.status == 'ongoing'" class="inner-item" style="font-weight: bold;color:green">Order Status : {{order.status == 'accepted' ? "ACCEPTED" : 'ONGOING' }}</ion-label>
          </div>
        </div>
      </div>
  
        </ion-item>
      </ion-list>
</ion-content>
