<app-header [page]="'Prescriptions'" [type]="'page'"></app-header>


<ion-content>

  <ion-grid>
    <ion-row *ngIf="currentUser && prescriptions &&  prescriptions.length > 0">
      <ion-col size="12" size-md="8" offset-md="2" *ngFor="let prescription of prescriptions">
        <ion-card class="card">
          <ion-item lines="none" class="profile-holder">
            <ion-avatar class="img">
              <img *ngIf="!currentUser || currentUser.imageUrl == ''" src="../../../assets/imgs/patient.svg">
              <img *ngIf="currentUser && currentUser.imageUrl != ''" [src]="currentUser.imageUrl">
            </ion-avatar>
            <div class="header">
            <ion-text class="name">
              {{currentUser.firstname}} {{currentUser.lastname}}
            </ion-text>
            <ion-text class="date">
              {{prescription.date | date:'short'}}
            </ion-text>
          </div>
          </ion-item>
          <ion-item class="description" lines="none">
            <ion-text class="text">{{prescription.description}} </ion-text>
          </ion-item>
          <ion-item line="none" class="prescription-holder">
            <img *ngIf="prescription.imageUrl" [src]="prescription.imageUrl">
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="currentUser && prescriptions && prescriptions.length == 0" >
      
      <ion-col size="12">
        <ion-text class="not-found"> You didn't post any prescriptions</ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="spin" *ngIf="!currentUser && !prescriptions">
    <ion-spinner name="bubbles"></ion-spinner>
  </div>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed" *ngIf="currentUser">
    <ion-fab-button (click)="openAddPrescription()" >
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
