<app-header  [type]="'page'"></app-header>


<ion-content>

  <ion-segment (ionChange)="segmentChanged($event)"  value="prescriptions"  class="segment-type"  slot="fixed"  class="segments">
    <ion-segment-button value="prescriptions">
      <ion-label>{{translateService.translate("PRESCRIPTIONS")}}</ion-label>
    </ion-segment-button>
    <ion-segment-button value="offers">
      <ion-label>{{translateService.translate("OFFERS")}}</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-grid>
    <ion-row *ngIf="currentUser && prescriptions &&  prescriptions.length > 0 && currentSegmentType == 'prescriptions'">
      <ion-col size="12" size-md="8" offset-md="2" *ngFor="let prescription of prescriptions" (click)="openEditPrescription(prescription)">
        <ion-card class="card" *ngIf="prescription.status == 'created'">
          <ion-item lines="none" class="profile-holder">
            <ion-avatar class="img">
              <img *ngIf="!currentUser || currentUser.imageUrl == ''" src="../../../assets/imgs/patient.svg">
              <img *ngIf="currentUser && currentUser.imageUrl != ''" [src]="currentUser.imageUrl">
            </ion-avatar>
            <div class="header">
            <ion-text class="name">
              {{currentUser.firstname}} {{currentUser.lastname}}
            </ion-text>
            <ion-text class="date">
              {{prescription.createdAt | date:'short'}}
            </ion-text>
          </div>
          </ion-item>
          <ion-item class="description" lines="none">
            <ion-text class="text">{{prescription.description}} </ion-text>
          </ion-item>
          <ion-slides class="center-row"  [options]='slideOpts'  #slides pager>
            <ion-slide class="slide intro-slide" *ngFor="let image of prescription.imageUrl;let i = index">
              <ion-item line="none" class="prescription-holder">
                <img  [src]="image">
              </ion-item>
            </ion-slide>
          </ion-slides>
          <ion-item line="none" class="prescription-holder">
            <img *ngIf="(prescription.imageUrl && prescription.imageUrl.length == 0) || !prescription.imageUrl" src="../../../assets/imgs/photo.png">
          </ion-item>
          <ion-item line="none" class="comment-holder">
            <div class="comment-holder">
              <h1>{{translateService.translate("COMMENTS")}}</h1>
            </div>
          </ion-item>
          <ion-item lines="none" class="comment-holder" *ngFor="let comment of prescription.comments;let i = index" [class.highlited]='comment.status == "approved"' >
            <div class="comment-holder" >
              <ion-avatar class="img">
                <img *ngIf="!comment || comment.pharmacy.imageUrl == '' " src="../../../assets/imgs/pharmacy-user-img.png">
                <img *ngIf="comment && comment.pharmacy.imageUrl  != ''" [src]="comment.pharmacy.imageUrl ">
              </ion-avatar>
              <ion-text class="text"  class="add-comment">
                ₹{{this.calculateCommentPrice(comment)}}
              </ion-text>
            </div>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="currentUser && prescriptions &&  prescriptions.length > 0 && currentSegmentType == 'offers'">
      <ion-col size="12" size-md="8" offset-md="2" *ngFor="let prescription of prescriptions" (click)="openEditPrescription(prescription)">
        <ion-card class="card" *ngIf="prescription.status == 'approved'">
          <ion-item lines="none" class="profile-holder">
            <ion-avatar class="img">
              <img *ngIf="!currentUser || currentUser.imageUrl == ''" src="../../../assets/imgs/patient.svg">
              <img *ngIf="currentUser && currentUser.imageUrl != ''" [src]="currentUser.imageUrl">
            </ion-avatar>
            <div class="header">
            <ion-text class="name">
              {{currentUser.firstname}} {{currentUser.lastname}}
            </ion-text>
            <ion-text class="date">
              {{prescription.createdAt | date:'short'}}
            </ion-text>
          </div>
          </ion-item>
          <ion-item class="description" lines="none">
            <ion-text class="text">{{prescription.description}} </ion-text>
          </ion-item>
          <ion-slides class="center-row"  [options]='slideOpts'  #slides pager>
            <ion-slide class="slide intro-slide" *ngFor="let image of prescription.imageUrl;let i = index">
              <ion-item line="none" class="prescription-holder">
                <img  [src]="image">
              </ion-item>
            </ion-slide>
          </ion-slides>
          <ion-item line="none" class="prescription-holder">
            <img *ngIf="prescription.imageUrl.length == 0" src="../../../assets/imgs/photo.png">
          </ion-item>
          <ion-item line="none" class="comment-holder">
            <div class="comment-holder">
              <h1>{{translateService.translate("COMMENTS")}}</h1>
            </div>
          </ion-item>
          <ion-item lines="none" class="comment-holder" *ngFor="let comment of prescription.comments;let i = index" [class.highlited]='comment.status == "approved"' >
            <div class="comment-holder" >
              <ion-avatar class="img">
                <img *ngIf="!comment || comment.pharmacy.imageUrl == '' " src="../../../assets/imgs/pharmacy-user-img.png">
                <img *ngIf="comment && comment.pharmacy.imageUrl  != ''" [src]="comment.pharmacy.imageUrl ">
              </ion-avatar>
              <ion-text class="text"  class="add-comment">
                ₹{{this.calculateCommentPrice(comment)}}
              </ion-text>
            </div>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="currentUser && prescriptions && prescriptions.length == 0" >
      <ion-col size="12">
        <ion-text class="not-found"> {{translateService.translate("NO PRESCRIPTION FOUND")}}</ion-text>
      </ion-col>
    </ion-row>

    
    <ion-row *ngIf="currentUser && prescriptions && prescriptions.length == 0" >
      <ion-col size="12">
        <ion-text class="not-found"> {{translateService.translate("NO PRESCRIPTION FOUND")}}</ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="spin" *ngIf="!currentUser && !prescriptions">
    <ion-spinner name="bubbles"></ion-spinner>
  </div>

  
</ion-content>
