<app-header [page]="'Refund And Awards'" [type]="'modal'"></app-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-title class="title-patient">Pharmacy Details</ion-title>
        <ion-item class="profile-holder">
          <ion-avatar class="img">
            <img *ngIf="!order.pharmacy || order.pharmacy.imageUrl == ''" src="../../../../../assets/imgs/pharmacy-user-img.png">
            <img *ngIf="order.pharmacy && order.pharmacy.imageUrl != ''" [src]="order.pharmacy.imageUrl">
          </ion-avatar>
          <div class="header">
          <ion-text class="name">
            {{order.pharmacy.firstname}} {{order.pharmacy.lastname}}
          </ion-text>
        </div>
        </ion-item>
      </ion-col>

    </ion-row>
    <ion-row *ngIf="order.address">
      <ion-col size="12">
        <ion-title class="title-patient">Address</ion-title>
        <div  class="address">
          {{order.address.city}},
          {{order.address.streetName1}},
          {{order.address.streetName2}},
          {{order.address.buildingNumber}},
          {{order.address.postalCode}}
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item  class="profile-holder" >
          <ion-title class="title-patient">REFUND OF ORDER</ion-title>
        </ion-item>
      </ion-col>
      <ion-col size="12" *ngIf="order.method == 'card' && order.paymentStatus.txStatus">
        <ion-item  class="profile-holder" >
          <ion-title class="title-patient">Payment is {{order.paymentStatus.txStatus | uppercase}}</ion-title>
        </ion-item>
      </ion-col>
      <ion-col size="12" *ngIf="order.method == 'card' && !order.paymentStatus.txStatus">
        <ion-item  class="profile-holder" >
          <ion-title class="title-patient">Payment is {{order.paymentStatus.orderStatus | uppercase}}</ion-title>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-title class="title-patient">Medecins</ion-title>
      <ion-col size="12" *ngIf="order && order.products.length != 0">
        <div class="product-holder" *ngFor="let product of order.products;let i = index">
          <ion-avatar class="product-img">
            <img *ngIf="!product.product || product.product.imageUrl == ''" src="../../../assets/imgs/capsules.svg">
            <img *ngIf="product.product.imageUrl && product.product.imageUrl != ''"
              [src]="product.product.imageUrl">
          </ion-avatar>
          <div class="holder">
            <ion-title class="product-title">
              {{product.product.mainProduct.name}}
            </ion-title>
            <ion-text class="product-detail">
              CN : {{product.product.mainProduct.company_name}}
            </ion-text>
            <ion-text class="product-detail">
              Description : {{product.product.mainProduct.description}}
            </ion-text>
            
            <ion-text class="product-detail">
              PACKING : {{product.product.mainProduct.packing}}
            </ion-text>
          </div>
          <div class="button-ajust-holder">
                <ion-button fill="clear" size="small" class="button-cart" (click)="remove(product)">
                  <ion-icon name="remove"></ion-icon>
                </ion-button>
                <p class="qunitity">{{product.refundedQuantity}}</p>
                <ion-button fill="clear" size="small" class="button-cart" (click)="add(product)">
                  <ion-icon name="add"></ion-icon>
                </ion-button>
              </div>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-title class="title-patient">Refunded Price</ion-title>
        <div  class="total-price-holder">
          <ion-icon class="ion-icon" name="cash-outline"></ion-icon> : ₹{{refundPrice}}
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="bottom-row">
      <ion-col size="12" >
        <ion-button shape="round" size="default" color="success"  expand="full"  *ngIf="refundPrice > 0 && order.refund.refund == null" (click)="makeRefund()" >
          <ion-text>Make A Refund</ion-text>
        </ion-button>
      </ion-col>
      <ion-col size="12" >
        <ion-button shape="round" size="default" color="success"  expand="full"  *ngIf="order.refund.refund != null && order.refund.payedByAdmin != 'PICKUP'" (click)="updateRefund()" >
          <ion-text>Update Refund</ion-text>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>

