
<ion-content>
  <ion-grid *ngIf="products && products.length != 0">
    <ion-row>
      <ion-title class="title-pharmacy">{{translateService.translate("MEDECINFOUND")}}</ion-title>
      <ion-col size="12" >
      <div  class="product-holder" *ngFor="let product of products;let i = index" (click)="selectProduct(i)" [class.selected]='selectedProduct == i'>
        <ion-avatar class="product-img">
          <img *ngIf="!product.imageUrl || product.imageUrl == ''" src="../../../assets/imgs/capsules.svg">
          <img *ngIf="product.imageUrl && product.imageUrl != ''" [src]="product.imageUrl">
        </ion-avatar>
        <div class="holder">
        <ion-title class="product-title">
          {{product.name}}
        </ion-title>
        <ion-text class="product-detail">
          {{translateService.translate("CN")}} : {{product.company_name}} 
        </ion-text>
        <ion-text class="product-detail">
          {{translateService.translate("DESCRIPTION")}}  : {{product.description}} 
        </ion-text>
        <ion-text class="product-detail">
          {{translateService.translate("PACKING")}} : {{product.packing}} 
        </ion-text>
      </div>
    </div>
    </ion-col>
    </ion-row>

    
  </ion-grid>
  <ion-row class="bottom-row" *ngIf="!emptyCartProduct || selectedProduct != null"  >
    <ion-col size="8" >
      <ion-button shape="round" size="default" color="success"  expand="full" (click)="addToCart()" *ngIf="selectedProduct != null">
        <ion-icon name="cart-outline"></ion-icon>
        <ion-text>{{translateService.translate("CART_ADD")}}</ion-text>
      </ion-button>
    </ion-col>
    <ion-col size="4" >
      <ion-button shape="round" size="default" color="light"  expand="full" *ngIf="!emptyCartProduct" (click)="goToCart()">
        <ion-text>{{translateService.translate("VIEW_CART")}}</ion-text>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>

