<ion-header class="ion-no-border">
  <ion-toolbar class="toolbar0">
    <ion-buttons slot="start" class="button-header">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title">
      <ion-text class="title1">
        Patient
      </ion-text>
      <ion-chip class="chip" *ngIf="currentUser != null">
        <ion-avatar class="img">
          <img *ngIf="!currentUser || currentUser.imageUrl == '' " src="../../../assets/imgs/patient.svg">
          <img *ngIf="currentUser && currentUser.imageUrl != ''" [src]="currentUser.imageUrl">
        </ion-avatar>
      </ion-chip>
    </ion-title>
  </ion-toolbar>
  <ion-toolbar class="toolbar">
  </ion-toolbar>
  <ion-searchbar class="search_bar-xyz" cancelButtonText="Custom Cancel" showCancelButton="focus" animated
    autocorrect="off" inputmode="search" (keyup.enter)="onInput(searchbar.value)" placeholder="Medecin1"
    #searchbar>

  </ion-searchbar>
</ion-header>

<ion-content>
  <app-lsit *ngIf="currentUrl == 'findproduct' || currentUrl == undefined" [product]='products'></app-lsit>
  <app-cart *ngIf="currentUrl == 'cart'"  ></app-cart>
  <ion-grid *ngIf="currentUrl == 'buy'">
    <ion-row >
      <ion-col size="12">
      <ion-list class="list-orders">
        <ion-card lines="none" class="card" *ngFor="let product of searchProduct"
          (click)="goPharmacyDetail(product)">
            <div class="main-container">
              <div class="container" style="width: 20%;">
                <img class="avatar-icon" *ngIf="product.pharmacy && product.pharmacy.imageUrl != '' "
                  [src]="product.pharmacy.imageUrl" width="50px" height="50px">
                <img class="avatar-icon" *ngIf="product.pharmacy && product.pharmacy.imageUrl == '' "
                  src="../../../assets/imgs/pharmacy.png" width="50px" height="50px">
              </div>
              <div class="container-info">

                <div class="header">
                  <ion-label  class="label"
                    *ngIf="product.pharmacy && product.pharmacy.username != ''">
                    <h1>{{product.pharmacy.username}}</h1>
                  </ion-label>
                  <ion-label  class="label"
                    *ngIf="product.pharmacy && product.pharmacy.username == ''">
                    <h1>Pharmacy</h1>
                  </ion-label>


                </div>
                
                <div class="address">
                  <ion-label class="label">
                    <ion-icon class="icon"  name="person-circle-outline"></ion-icon> : {{product.pharmacy.firstname != null ? product.pharmacy.firstname : "Name"}}
                  </ion-label>
                </div>
                <div class="address">
                  <ion-label class="label">
                    <ion-icon class="icon"  name="mail-outline"></ion-icon> : {{product.pharmacy.email != null ? product.pharmacy.email : "Email"}}
                  </ion-label>
                </div>
                



              </div>
              <hr>
              

              <div class="main-container bottom">
                  <div class="price">
                    <ion-label class="inner-item">
                      <ion-icon class="ion-icon" name="cash-outline"></ion-icon> : {{product.totalPrice}}
                    </ion-label>
                  </div>
                  <div class="view">
                    <ion-label>View Detail</ion-label>
                  </div>
            </div>
            </div>
        </ion-card>
        
      </ion-list>
    </ion-col>

    </ion-row>
  </ion-grid>
  <div *ngIf="currentUrl == 'buy' && searchProduct == null">
    HELLO
  </div>
</ion-content>